.App {
  text-align: center;
}

.box {
  width: 42rem;
  max-width: 42rem;
  background-color: yellowgreen;
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
  margin: auto;
}

.add-course{
  width: 32rem;
  max-width: 42rem;
  background-color: aqua;
  /* border: 2px solid red; */
  border-radius: 0.9rem;
  position: relative;
  margin: auto;

  top: 80px;
  padding: 20px 0px;
}

